In [1]:
import pandas as pd
from pandas_datareader import data as web

In [2]:
data = web.DataReader(name = 'AAPL', data_source='google')

In [3]:
data.round(2).tail()

              Open    High     Low   Close    Volume
Date
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630
2017-07-24  150.58  152.44  149.90  152.09  21304676

In [4]:
#alternative method
data2 = web.get_data_google('AAPL')['Close'].tail()

In [5]:
data2

Date
2017-07-18    150.08
2017-07-19    151.02
2017-07-20    150.34
2017-07-21    150.27
2017-07-24    152.09
Name: Close, dtype: float64